%TMPL:DEF{"socialshare::header"}%<div class='socialShare $class clearfix'>%TMPL:END%
%TMPL:DEF{"socialshare::footer"}%</div>%TMPL:END%
%TMPL:DEF{"socialshare::topictitle"}%%WIKITOOLNAME%: %GETTOPICTITLE{topic="$web.$topic"}%%TMPL:END%

%TMPL:DEF{"socialshare::facebook"}%<a class="$service" $style href="http://www.facebook.com/sharer.php?u=%ENCODE{"$url"}%&t=%ENCODE{"$title"}%" target="_blank" rel="noopener noreferrer" title="%MAKETEXT{"share on [_1]" args="$service"}%">%JQICON{"fa-facebook"}%$label</a>%TMPL:END%

%TMPL:DEF{"socialshare::twitter"}%<a class="$service" $style href="http://twitter.com/share?url=%ENCODE{"$url"}%&text=%ENCODE{"$text"}%&hashtags=%ENCODE{"$tags"}%" target="_blank" rel="noopener noreferrer" title="%MAKTEXT{"tweet this"}%">%JQICON{"fa-twitter"}%$label</a>%TMPL:END%

%TMPL:DEF{"socialshare::google"}%<a class="$service" $style href="https://plus.google.com/share?url=%ENCODE{"$url"}%" target="_blank" rel="noopener noreferrer" title="%MAKETEXT{"share on [_1]" args="$service"}%">%JQICON{"fa-google-plus"}%$label</a>%TMPL:END%

%TMPL:DEF{"socialshare::digg"}%<a class="$service" $style href="http://www.digg.com/submit?url=%ENCODE{"$url"}%" target="_blank" rel="noopener noreferrer" title="%MAKETEXT{"digg it"}%">%JQICON{"fa-digg"}%$label</a>%TMPL:END%

%TMPL:DEF{"socialshare::reddit"}%<a class="$service" $style href="http://reddit.com/submit?url=%ENCODE{"$url"}%&title=%ENCODE{"$title"}%" target="_blank" rel="noopener noreferrer" title="%MAKETEXT{"submit to [_1]" args="$service"}%">%JQICON{"fa-reddit"}%$label</a>%TMPL:END%

%TMPL:DEF{"socialshare::linkedin"}%<a class="$service" $style href="http://www.linkedin.com/shareArticle?mini=true&url=%ENCODE{"$url"}%&title=%ENCODE{"$title"}%" target="_blank" rel="noopener noreferrer" title="%MAKETEXT{"share on [_1]" args="$service"}%">%JQICON{"fa-linkedin"}%$label</a>%TMPL:END%

%TMPL:DEF{"socialshare::pinterest"}%<a class="$service" $style href="https://pinterest.com/pin/create/button?url=%ENCODE{"$url"}%&media=%ENCODE{"$media"}%&description=%ENCODE{"$text"}%" target="_blank" rel="noopener noreferrer" title="%MAKETEXT{"pin it"}%">%JQICON{"fa-pinterest"}%$label</a>%TMPL:END%

%TMPL:DEF{"socialshare::stumbleupon"}%<a class="$service" $style href="http://www.stumbleupon.com/submit?url=%ENCODE{"$url"}%&title=%ENCODE{"$title"}%" target="_blank" rel="noopener noreferrer" title="%MAKETEXT{"submit to [_1]" args="$service"}%">%JQICON{"fa-stumbleupon"}%$label</a>%TMPL:END%

%TMPL:DEF{"socialshare::tumblr"}%<a class="$service" $style href="http://www.tumblr.com/share/link?url=%ENCODE{"$url"}%&name=%ENCODE{"$title"}%&description=%ENCODE{"$text"}%" target="_blank" rel="noopener noreferrer" title="%MAKETEXT{"post to [_1]" args="$service"}%">%JQICON{"fa-tumblr"}%$label</a>%TMPL:END%

%TMPL:DEF{"socialshare::email"}%<a class="$service" $style href="mailto:?Subject=%ENCODE{"$title"}%&Body=%ENCODE{"$url"}%" title="%MAKETEXT{"send email"}%">%JQICON{"fa-inbox"}%$label</a>%TMPL:END%

%TMPL:DEF{"socialshare::buffer"}%<a class="$service" $style href="https://bufferapp.com/add?count=horizontal&via=&text=%ENCODE{"$text"}%&picture=%ENCODE{"$media"}%&url=%ENCODE{"$url"}%&source=button" target="_blank" rel="noopener noreferrer" title="%MAKETEXT{"submit to [_1]" args="$service"}%"><img src='%PUBURLPATH%/%SYSTEMWEB%/SocialSharePlugin/buffer-20.png' />$label</a>%TMPL:END%

%TMPL:DEF{"socialshare::delicious"}%<a class="$service" $style href="http://del.icio.us/post?url=%ENCODE{"$url"}%&title=%ENCODE{"$title"}%" target="_blank" rel="noopener noreferrer" title="%MAKETEXT{"submit to [_1]" args="$service"}%">%JQICON{"fa-delicious"}%$label</a>%TMPL:END%

%TMPL:DEF{"socialshare::xing"}%<a class="$service" $style href="https://www.xing.com/spi/shares/new?url=%ENCODE{"$url"}%&title=%ENCODE{"$title"}%" target="_blank" rel="noopener noreferrer" title="%MAKETEXT{"share on [_1]" args="$service"}%">%JQICON{"fa-xing"}%$label</a>%TMPL:END%

%TMPL:DEF{"socialshare::whatsapp"}%<a class="$service" $style href="whatsapp://send?text=%ENCODE{"$text, $url"}%" title="%MAKETEXT{"share on [_1]" args="$service"}%">%JQICON{"fa-whatsapp"}%$label</a>%TMPL:END%

%TMPL:DEF{"socialshare::pinboard"}%<a class="$service" $style href="https://pinboard.in/popup_login/?url=%ENCODE{"$url"}%&title=%ENCODE{"$title"}%&description=%ENCODE{"$text"}%" target="_blank" rel="noopener noreferrer" title="%MAKETEXT{"save to [_1]" args="$service"}%">%JQICON{"fa-thumb-tack"}%$label</a>%TMPL:END%
%TMPL:DEF{"socialshare::pocket"}%<a class="$service" $style href="https://getpocket.com/save?url=%ENCODE{"$url"}%&title=%ENCODE{"$title"}%" target="_blank" rel="noopener noreferrer" title="%MAKETEXT{"add to [_1]" args="$service"}%">%JQICON{"fa-get-pocket"}%$label</a>%TMPL:END%
%TMPL:DEF{"socialshare::wordpress"}%<a class="$service" $style href="http://wordpress.com/press-this.php?u=%ENCODE{"$url"}%&t=%ENCODE{"$title"}%&s=%ENCODE{"$text"}%" target="_blank" rel="noopener noreferrer" title="%MAKETEXT{"publish on [_1]", args="$service"}%">%JQICON{"fa-wordpress"}%$label</a>%TMPL:END%

%TMPL:DEF{"dialog"}%%SOCIALSHARE{exclude="email"}%%TMPL:END%
